* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #D9EAD3;
}

a {
  text-decoration: none;
  color: #D9EAD3;
  font-weight: bold;
}

.header {
  background-color: #231010;
  height: 150px
};

nav {
  width: 100%;
}

.superior {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
}

.superior > * {
  padding-left: 10px;
}

main{
  margin-left: 25px;
  margin-right: 25px;;
}

.post {
  border: 3px solid #231010;
  margin-top: 15px;
}

.comment{
  border: 3px solid #231010;
  margin-top: 15px
}

.comment-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea{
  margin-top: 15px;
  width: 100%;
}

textarea{
  width: 100%;
  height: 80px;
}

.title {
  background-color: #231010;
}

.user-info{
  color: #D9EAD3;
}

.addPost {
  color: #231010;
}
